/* menu */

.header
    margin: 0
    top: 0
    height: 75px
    background: #2F2E2E
    color: white
    z-index: 9999
    width: 100%
    text-align: center
    padding: 0
    margin: 0



.menu
    line-height: 75px
    padding: 0


.menu a
    text-decoration: none
    font-size: 120%
    padding: 0 25px
    transition: 0.4s
    color: white
    height: 30px
.show-menu-btn, .hide-menu-btn
    transition: 0.4s
    font-size: 30px
    cursor: pointer
    display: none

.show-menu-btn
    float: right

.show-menu-btn i
    line-height: 100px

.menu a:hover
    color: #3498db

.show-menu-btn:hover
    color: #3498db

.hide-menu-btn:hover
    color: #3498db

#chk
    position: absolute
    visibility: hidden
    z-index: -1111
