.images
    height: auto
.big
    margin-top: 5%
    width: 100%
    float: right

.big img
    padding: 0
    margin: 0
    background: black
    z-index: -1
    width: 50%
.small
    margin-top: 2%
    height: auto
    display: inline-block
.small img
    width: 23%
    margin: 0
    padding: 0
    margin-right: 2%
.text
    text-align: center
    position: absolute
    background: white
    z-index: 99999
    height: 60px
    width: 150px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.description
    color: black
    padding-top: 0.3%
    text-align: justify
    button
        color: white
        height: 40px
        width: 250px
        background: #EE6002
        font-size: 18px
        margin-top: 5%
    p
        font-size: 16px
        margin-top: 3%
        width: 100%
        br
            line-height: 60px
