@import "header"
@import "media"
@import "main-content"

*
    margin: 0
    padding: 0
    font-family: 'Pathway Gothic One', sans-serif
a
    text-decoration: none
    color: inherit
    &:hover
        color: inherit
        text-decoration: none
