@media screen and (max-width: 840px)
    /* menu */
    .show-menu-btn, .hide-menu-btn
        display: block

    .hide-menu-btn
        color: white

    .menu
        position: fixed
        width: 100%
        height: 100vh
        background: rgb(31, 31, 31)
        right: -100%
        top: -20px
        text-align: center
        padding: 80px 0
        line-height: normal
        transition: 0.7s
        z-index: 9999

    .menu a
        display: block
        padding: 30px
        color: white

    .hide-menu-btn
        position: absolute
        top: 40px
        right: 40px

    #chk:checked ~ .menu
        right: 0
    .show-menu-btn
        position: absolute
        margin-right: 20px
        top: -10px
        right: 0px
